In [7]:
import pandas as pd

newDf = pd.read_csv('ADHD.csv')

newDf.head()

C:\Users\Asus\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3267: DtypeWarning: Columns (2,6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,title,selftext,score,id,url,num_comments,created_utc,created_datetime
0,Android app to strengthen attention/focus,"Hey /r/ADHD,\n\nCheck out my simple Android ap...",6,k348a,https://www.reddit.com/r/ADHD/comments/k348a/a...,7.0,1315014480.0,2011-09-03 01:48:00
1,Does anyone here have experience with Imipramine?,My doctor has suggested it for ADD with anxiet...,4,k3gdz,https://www.reddit.com/r/ADHD/comments/k3gdz/d...,1.0,1315051084.0,2011-09-03 11:58:04
2,"New study shows that for people with ADHD, \n""...",NaN,22,k4q79,http://www.utexas.edu/features/2011/08/29/adhd...,11.0,1315174374.0,2011-09-04 22:12:54
3,What does the ADHD test look like?,I'm 21 and didn't know about ADHD until recent...,6,k5fvd,https://www.reddit.com/r/ADHD/comments/k5fvd/w...,10.0,1315239683.0,2011-09-05 16:21:23
4,Are you guys good with maps and directions?,It seems like one thing I've always been reall...,0,k6efi,https://www.reddit.com/r/ADHD/comments/k6efi/a...,0.0,1315317191.0,2011-09-06 13:53:11

In [8]:
newDf = newDf.sample(frac=0.02, random_state=1)

print(newDf.info(),'\n')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6721 entries, 4815 to 34990
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             6721 non-null   object
 1   selftext          6627 non-null   object
 2   score             6721 non-null   object
 3   id                6721 non-null   object
 4   url               6721 non-null   object
 5   num_comments      6721 non-null   float64
 6   created_utc       6721 non-null   object
 7   created_datetime  6721 non-null   object
dtypes: float64(1), object(7)
memory usage: 472.6+ KB
None

In [9]:
newDf = newDf.drop(['selftext','url','num_comments','created_utc','score', 'id', 'created_datetime'],axis='columns')
newDf

                                                    title
4815    My doctor lost his licence a few days from nex...
78504   Besides not being neurotypical, is anyone else...
56091                                 Casinos, yes or no?
77259   Anybody here has had success with the Getting ...
332202                                        frustration
...                                                   ...
296548          Hardcore Avoidance Recently- anyone else?
38891                                     ADD and coffee?
73617   Drugs made my life much better than i thought ...
125490                                  Ritalin euphoria?
34990   I know this is ridiculous but can someone plea...

[6721 rows x 1 columns]

In [11]:
import re
import string
STOPWORDS = stopwords.words('english')
PUNCTUATION = string.punctuation

def remove_urls(text):    
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub(r'', text)

newDf['title'] = newDf['title'].apply(remove_urls)

newDf['title']

4815      My doctor lost his licence a few days from nex...
78504     Besides not being neurotypical, is anyone else...
56091                                   Casinos, yes or no?
77259     Anybody here has had success with the Getting ...
332202                                          frustration
                                ...
296548            Hardcore Avoidance Recently- anyone else?
38891                                       ADD and coffee?
73617     Drugs made my life much better than i thought ...
125490                                    Ritalin euphoria?
34990     I know this is ridiculous but can someone plea...
Name: title, Length: 6721, dtype: object

In [12]:
newDf['title'] = newDf['title'].str.lower()
newDf['title']

4815      my doctor lost his licence a few days from nex...
78504     besides not being neurotypical, is anyone else...
56091                                   casinos, yes or no?
77259     anybody here has had success with the getting ...
332202                                          frustration
                                ...
296548            hardcore avoidance recently- anyone else?
38891                                       add and coffee?
73617     drugs made my life much better than i thought ...
125490                                    ritalin euphoria?
34990     i know this is ridiculous but can someone plea...
Name: title, Length: 6721, dtype: object

In [13]:
def remove_punctuation(text):
    no_punctuation = "".join([word for word in text if word not in PUNCTUATION])
    return no_punctuation

newDf['title'] = newDf['title'].apply(remove_punctuation)

newDf['title'].head()

4815      my doctor lost his licence a few days from nex...
78504     besides not being neurotypical is anyone else ...
56091                                     casinos yes or no
77259     anybody here has had success with the getting ...
332202                                          frustration
Name: title, dtype: object

In [14]:
def remove_extra_white_spaces(text):
    single_char_pattern = r'\s+[a-zA-Z]\s+'
    without_sc = re.sub(pattern=single_char_pattern, repl=" ", string = text)
    return without_sc

newDf['title'] = newDf['title'].apply(remove_extra_white_spaces)

newDf['title'].head()

4815      my doctor lost his licence few days from next ...
78504     besides not being neurotypical is anyone else ...
56091                                     casinos yes or no
77259     anybody here has had success with the getting ...
332202                                          frustration
Name: title, dtype: object

In [17]:
from nltk.corpus import stopwords
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize, sent_tokenize
STOPWORDS = stopwords.words('english')
def remove_stopwords(text):
    no_stopwords = []    
    tokens = word_tokenize(text)
    
    for i in range(len(tokens)):
        if tokens[i] not in STOPWORDS:
            no_stopwords.append(tokens[i])
            
    return " ".join(no_stopwords)

newDf['title'] = newDf['title'].apply(remove_stopwords)
newDf['title'].head()

4815       doctor lost licence days next college termlovely
78504     besides neurotypical anyone else physically at...
56091                                           casinos yes
77259     anybody success getting things done gtd method...
332202                                          frustration
Name: title, dtype: object

In [18]:
import numpy as np
def drop_duplicates(row):
    # Split string by ', ', drop duplicates and join back.
    words = row.split(', ')
    return ', '.join(np.unique(words).tolist())
newDf['title'] = newDf['title'].apply(drop_duplicates)

In [19]:
from nltk.stem import WordNetLemmatizer
def lemmatize_text(text):    
    lemmatizer = WordNetLemmatizer()
    tokens = word_tokenize(text)
    for i in range(len(tokens)):
        lemma_word = lemmatizer.lemmatize(tokens[i])
        tokens[i] = lemma_word
    return " ".join(tokens)

newDf['title'] = newDf['title'].apply(lemmatize_text)
newDf['title'].head()

4815        doctor lost licence day next college termlovely
78504     besides neurotypical anyone else physically at...
56091                                            casino yes
77259     anybody success getting thing done gtd method ...
332202                                          frustration
Name: title, dtype: object

In [20]:
import re
from nltk.util import ngrams
list1 = []
def generate_N_grams(text,ngram=1):
    text = re.sub(r'[^a-zA-Z0-9\s]', ' ', text)
    tokens = [token for token in text.split(" ") if token != ""]
    output = list(ngrams(tokens, ngram))
    return output

In [26]:
lst = []
for X in newDf['title']:
    y = generate_N_grams(X,3)
    lst.append(y)

def flatten(input):
    new_list = []
    for i in input:
        for j in i:
            new_list.append(j)
    return new_list

lst1 = flatten(lst)

finalList1 = []

from collections import Counter
c = Counter(lst1)
M = c.most_common(30)

for key,val in M:
    finalList1.append(key)

print(finalList1)

[('feel', 'like', 'im'), ('anyone', 'else', 'feel'), ('ever', 'feel', 'like'), ('anyone', 'else', 'experience'), ('recently', 'diagnosed', 'adhd'), ('else', 'feel', 'like'), ('anyone', 'else', 'find'), ('got', 'diagnosed', 'adhd'), ('rejection', 'sensitive', 'dysphoria'), ('anyone', 'else', 'issue'), ('anyone', 'else', 'struggle'), ('kick', 'start', 'sunday'), ('anyone', 'else', 'problem'), ('anyone', 'else', 'get'), ('med', 'first', 'time'), ('make', 'feel', 'like'), ('think', 'might', 'adhd'), ('anyone', 'else', 'trouble'), ('anyone', 'else', 'hate'), ('anyone', 'else', 'really'), ('finally', 'got', 'diagnosed'), ('get', 'stuff', 'done'), ('short', 'term', 'memory'), ('started', 'taking', 'adderall'), ('could', 'use', 'advice'), ('feel', 'like', 'failure'), ('diagnosed', 'adult', 'adhd'), ('get', 'thing', 'done'), ('taking', 'adhd', 'medication'), ('might', 'adhd', 'im')]

In [22]:
import pandas as pd

df = pd.read_csv('anxiety_2018_features_tfidf_256.csv')

df.head()

,subreddit,author,date,post,automated_readability_index,coleman_liau_index,flesch_kincaid_grade_level,flesch_reading_ease,gulpease_index,gunning_fog_index,...,tfidf_wish,tfidf_without,tfidf_wonder,tfidf_work,tfidf_worri,tfidf_wors,tfidf_would,tfidf_wrong,tfidf_x200b,tfidf_year
0,anxiety,Watch_Me_Get_,2018/01/01,Does anyone else like taking long walks while ...,5.007692,8.594266,3.283462,83.099038,85.923077,5.676923,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000
1,anxiety,Imhereforgames,2018/01/01,Meditation is making me anxious I do a couple ...,-0.716269,1.459650,1.640910,95.231515,96.910448,3.874030,...,0.0,0.0,0.0,0.000000,0.263306,0.0,0.000000,0.0,0.0,0.000000
2,anxiety,ABrokenBeing,2018/01/01,Rant about anxiety meds - I've been self medic...,5.962747,7.543635,6.078791,76.416209,67.131868,9.006593,...,0.0,0.0,0.0,0.071020,0.000000,0.0,0.000000,0.0,0.0,0.000000
3,anxiety,Sleekdiamond41,2018/01/01,Some advice for my friend please? I dated this...,6.582939,6.555885,6.839898,77.193316,65.244898,9.775510,...,0.0,0.0,0.0,0.179712,0.000000,0.0,0.175357,0.0,0.0,0.158965
4,anxiety,coffeegreentea,2018/01/01,Feeling like I’m back to where I started. I’ve...,5.459158,6.349314,6.922802,72.443031,67.791209,10.242491,...,0.0,0.0,0.0,0.108041,0.000000,0.0,0.000000,0.0,0.0,0.000000

In [145]:
newDf = newDf.sample(frac=0.02, random_state=1)

print(newDf.info(),'\n')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 5382 to 6737
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   18 non-null     object
dtypes: object(1)
memory usage: 288.0+ bytes
None

In [23]:
from nltk.corpus import stopwords
import re
import string
STOPWORDS = stopwords.words('english')
PUNCTUATION = string.punctuation

def remove_urls(text):    
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub(r'', text)

df['post'] = df['post'].apply(remove_urls)

df['post']

0       Does anyone else like taking long walks while ...
1       Meditation is making me anxious I do a couple ...
2       Rant about anxiety meds - I've been self medic...
3       Some advice for my friend please? I dated this...
4       Feeling like I’m back to where I started. I’ve...
                              ...
8581    Prozac + Buspar combo, does it make anyone els...
8582    Insomnia and Anxiety To most people, a rough n...
8583    Does weed help you guys? hey everyone, I'm pre...
8584    Anxiety not allowing me to eat Does anyone els...
8585    College swimmer with anxiety Hey guys im 20 ye...
Name: post, Length: 8586, dtype: object

In [27]:
df['post'] = df['post'].str.lower()
df['post'] = df['post'].apply(remove_punctuation)
df['post'] = df['post'].apply(remove_extra_white_spaces)
df['post'] = df['post'].apply(remove_stopwords)
df['post'] = df['post'].apply(drop_duplicates)
df['post'] = df['post'].apply(lemmatize_text)


lst = []
for X in df['post']:
    y = generate_N_grams(X,3)
    lst.append(y)

def flatten(input):
    new_list = []
    for i in input:
        for j in i:
            new_list.append(j)
    return new_list

lst1 = flatten(lst)

finalList2 = []

from collections import Counter
c = Counter(lst1)
M = c.most_common(30)

for key,val in M:
    finalList2.append(key)

print(finalList2)

[('feel', 'like', 'im'), ('anyone', 'else', 'experience'), ('anyone', 'else', 'get'), ('anyone', 'else', 'feel'), ('make', 'feel', 'like'), ('anxiety', 'panic', 'attack'), ('im', 'gon', 'na'), ('like', 'im', 'going'), ('long', 'story', 'short'), ('dont', 'know', 'im'), ('first', 'panic', 'attack'), ('dont', 'even', 'know'), ('feel', 'like', 'cant'), ('feel', 'like', 'going'), ('anxiety', 'feel', 'like'), ('dont', 'really', 'know'), ('feel', 'like', 'anxiety'), ('feel', 'like', 'ive'), ('always', 'feel', 'like'), ('feel', 'like', 'need'), ('generalized', 'anxiety', 'disorder'), ('cant', 'stop', 'thinking'), ('get', 'panic', 'attack'), ('every', 'single', 'day'), ('anyone', 'else', 'experienced'), ('feel', 'like', 'everyone'), ('first', 'time', 'posting'), ('even', 'though', 'know'), ('feel', 'like', 'dont'), ('feeling', 'like', 'im')]

In [28]:
Y = set(finalList2) & set(finalList1)
print(Y)

{('make', 'feel', 'like'), ('anyone', 'else', 'feel'), ('anyone', 'else', 'get'), ('feel', 'like', 'im'), ('anyone', 'else', 'experience')}